<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotnetDependencyAnalyzer" version="1.2.0-alpha91" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="NuGet.Common" version="4.5.0" targetFramework="net45" />
  <package id="NuGet.Frameworks" version="4.5.0" targetFramework="net45" />
  <package id="NuGet.Packaging" version="4.5.0" targetFramework="net45" />
  <package id="NuGet.Packaging.Core" version="4.5.0" targetFramework="net45" />
  <package id="NuGet.Versioning" version="4.5.0" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>